.hero {
  background-image: url(images/img-mission-background.jpg);
  height: 700px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.mission {
  background-color: black;
  width: 100%;
  opacity: 0.9;
}

.monthly-tea {
  max-width: 1000px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.tea img {
  height: 200px;
  width: 300px;
  
}

.locations {
  background-image: url(images/img-locations-background.jpg);
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

#logo {
  height: 50px;
  width: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  border-bottom: 1px solid seashell;
  align-items: center;
  width: 100%;
}

.navbar ul {
  display: flex;
  text-decoration: underline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 12px;
}

.location-list {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.location {
  width: 300px;
  background-color: black;
  margin: 0 40px;
}

.contact {
  height: 200px;
}

.footer {
  margin-left: 20px;
  text-align: left;
}